.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgba(113, 185, 240, 0);  
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(57, 26, 26),rgb(67, 23, 23));
    border: 1px solid #401717;
    border-radius:4px;
    padding:20px;
}/*fechamneto calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex end;
    font-size: 3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #080808;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #ee0909;

}/*fechamento tela*/

.botao{
    display: flex;  
    flex-direction: column;
    align-items: center;
}/*fechamento botao*/

.linha{
display: flex;
flex-direction: row;
margin-bottom: 10px;
}/*fechamneto coluna*/

.operadores{
    background-color: rgb(238, 15, 15);
    color: rgb(0, 0, 0);
    border: 2px solid;

}/*fechamento operadores*/

.outros{
    background-color: rgb(209, 22, 22);
    color: rgb(255, 255, 255);
    border: 2px rgb(54, 15, 225);
}/*fechamento outros*/

button{
    font-size: 2srem;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #9e1616;
    border-radius: 4px;
    background-color: #080808;
    color: #ede3e3;
    cursor: pointer;
}/*fechamento button*/

